<!DOCTYPE html>
<html lang="en">
  <%- include('head',{siteUrl : siteUrl}); %>
  <body>
    <%- include('header'); %>
    <%- include('about'); %>
    <%- include('contact'); %>
    <%- include('js'); %>
  </body>
</html>
